<a href="https://colab.research.google.com/github/murdadrum/MIT-DSML/blob/main/FIN_Practice_Exercise_2_Introduction_to_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INTRO TO VARIABLE EXERCISE**

### 1. What will be the type of the *add* variable?
a = 10

b = 5.1

add = a + b

In [ ]:
a = 10

b = 5.1

add = a + b
print(a + b)
type(a + b)

15.1

float

### 2. Is 5 == (3+2)?

In [ ]:
if 5 == (3+2):
  print("Yes")

Yes

### 3. Add 33 in variable *a* and print the result

a = 3

In [ ]:
a = 3
b = 33
a = (a +b)
print(a)

36

### 4. Convert integer variable *a* to float and check its type

a = 3

In [ ]:
a = 3
a = float(a)
type(a)
# a

float

### 5. What will be 5 times *a* if the value of a is 10?

In [ ]:
a = 10
value = a * 5
value

50

### 6. Write a program to calculate the area of a triangle with base = 10 and height = 5

Hint : area of triangle = 1/2 * base * height

In [ ]:
b = 10
h = 5
a = .5 * (b * h)
a

25.0

### 7. What will be the value of *z* in the following expression:

z = (v + w) * (x / y)

If

v = 10

w = 25

x = 70

y = 2

In [ ]:
v = 10

w = 25

x = 70

y = 2

z = (v + w) * (x / y)
z

1225.0

### 8. Swap values of *a* and *b*
If before swapping a = 10 and b = 5

Then after swapping a = 5 and b = 10
##### Values can not be hardcoded

In [ ]:
a = 10
b = 5
print('a is', a, 'b is', b)
temp = a
a = b
b = temp
print('a is', a, 'b is', b)

a is 10 b is 5
a is 5 b is 10

### 9. Convert 35 degree Celsius temperature to Fahrenheit

In [ ]:
C = 35
F = (C * 9/5) + 32
F

95.0