<a href="https://colab.research.google.com/github/murdadrum/MIT-DSML/blob/main/FIN_Practice_Exercise_3_Collection_of_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **COLLECTION OF VARIABLES**

### 1. Create a list of repeated element (element 2, 48 times)

In [ ]:
repeated_list = [7] * 48
print(repeated_list)

[7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7]

### 2. Print the second element of the list

list = ["apple","orange","grapes","watermelon"]

In [ ]:
list = ["apple","orange","grapes","watermelon"]
print(list[1])

orange

### 3.  Replace the second element of the list with "strawberries"
list = ["apple","orange","grapes","watermelon"]

In [ ]:
list = ["apple","orange","grapes","watermelon"]
list[1] = 'strawberries'
print(list)

['apple', 'strawberries', 'grapes', 'watermelon']

### 4. Iterate through the list and print the values

In [ ]:
list = ["apple","orange","grapes","watermelon"]
list[1] = 'strawberries'
print(list)
for i in list:
  print(i)

['apple', 'strawberries', 'grapes', 'watermelon']
apple
strawberries
grapes
watermelon

### 5. Write a Python code to print squares of all numbers present in a list = [1, 12, 24, 36, 11, 20,50]

In [ ]:
list = [1, 12, 24, 36, 11, 20, 50]
for i in list:
  print(i * i)

1
144
576
1296
121
400
2500

### 6. Pop yellow color from the list below:
List=['white','red', 'blue', 'green','blue','yellow', 'black']

In [ ]:
List=['white','red', 'blue', 'green','blue','yellow', 'black']
List.pop(5)
print(List)

['white', 'red', 'blue', 'green', 'blue', 'black']

### 7. Check length of list

list=["a","b","c","d","e"]

In [ ]:
list=["a","b","c","d","e"]
len(list)

5

###  8. Create a dictionary with the following information:

brand = Audi

Model = Q2

Year = 1980

In [ ]:
car={'brand': 'Audi', 'Model': 'Q2', 'Year': str(1980)}
# print(car)
car
# type(car['Year'])

{'brand': 'Audi', 'Model': 'Q2', 'Year': '1980'}

### 9. In the above dictionary change the year to 2019

In [ ]:
car={'brand': 'Audi', 'Model': 'Q2', 'Year': str(1980)}
car['Year']= 2019
car
# type(car['Year'])

{'brand': 'Audi', 'Model': 'Q2', 'Year': 2019}

### 10. Create a set of following elements

1.0, "Hello", 55 , (6,7,8)

In [ ]:
set={1.0, "Hello", 55 , (6,7,8)}
print(set)

{1.0, (6, 7, 8), 'Hello', 55}