<a href="https://colab.research.google.com/github/murdadrum/MIT-DSML/blob/main/FIN_PreWork_Quizzes_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Practice Quiz - Introduction to Python

In [2]:
# Question 1
# 1 Mark
# For which of the following pairs of datatypes does the addition operation raise an error?
# int and string
("josh" + '1')

'josh1'

In [ ]:
# Question 2
# 1 Mark
# Which of the following is NOT true regarding loops in Python?
while loop is used when multiple statements are to be executed repeatedly until the given condition becomes True

In [ ]:
# Question 3
# 1 Mark
# What will be the type of the variable 'c' after running the following code snippet?

a = 10
b = 2.3
c = a*b
type(c)
print(c)

23.0

In [3]:
# Question 4
# 1 Mark
# What will be the output of the following code snippet?

i = '20'
if i > 20:
    print(1)
else:
    print(2)
#TypeError

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
# Question 5
# 1 Mark
# What will be the value of the variable 'a' after the fourth iteration of the following for loop?

a = 1
for i in range(1,5):
     a = a*i
print(a)

24

In [ ]:
# Question 6
# 1 Mark
# Which of the following codes will fetch the third element from the start of a list named new_list containing 4 elements?
new_list=["josh1", "josh2", "josh3", "josh4"]
new_list[-2]

'josh3'

In [ ]:
# Question 7
# 1 Mark
# Following is a dictionary named alphabets:

alphabets = {'1':'A','2':'B','3': ['C','D','E']}
# Which statement among the following will fetch the element 'E'?
alphabets['3'][2]

'E'

In [ ]:
# Question 8
# 1 Mark
# How will you fetch [True, 46] from the list below?

list = ["Great", 51, True, 46, "Hi"]
list[2:-1]

[True, 46]

In [ ]:
# Question 9
# 1 Mark
# What will be the output of the following code?

list_mul = ['2','2','2']
list_mul*2

['2', '2', '2', '2', '2', '2']

In [ ]:
# Question 10
# 1 Mark
# Which of the following pairs of functions yield the same output?
def fun(n):
    return n*n*n
# lambda_cube = lambda n: n*n*n
fun(3)

27

In [ ]:
lambda_cube = lambda n: n*n*n
lambda_cube(3)

27

#Practice Quiz 1.1 - Intro to Variables

In [ ]:
a = 10
b = 5.1
add = a + b
type(add)

float

In [ ]:
5 == (3 + 2)

True

In [ ]:
a = 3
print(a + (33))

36

In [ ]:
a = 3.5
int(a)

3

In [ ]:
a = '5a'
int(a)

ValueError: invalid literal for int() with base 10: '5a'

In [ ]:
area = 0.5 * 10 * 5
print("Area of triangle:", area)

Area of triangle: 25.0

In [ ]:
v = 10
w = 25
x = 70
y = 2
z = (v + w) * (x / y)
z

1225.0

In [ ]:
a = 10
b = 5
print("A and B before swapping {},{}".format(a,b))
temp = a #create a third variable and assign the value of a to it
#write the missing code(code missing here)
a = b
b = temp #value of a is in third variable so assign the value to b
print("A and B after swapping {},{}".format(a,b))

A and B before swapping 10,5
A and B after swapping 5,10

In [ ]:
celsius = 35
fah = 1.8 * celsius + 32
print("Temperature in Fahrenheit =", fah)

Temperature in Fahrenheit = 95.0

#Practice Quiz 1.2 - Collection of Variables

In [ ]:
# Question 1
# 1 Mark
# What will be the output of the following snippet?
repeated_list = [2] * 4
print(repeated_list)

[2, 2, 2, 2]

In [ ]:
# Question 2
# 1 Mark
# Which of the following codes can be used to print the second element of the below list?
fruit = ["apple","orange","grapes","watermelon"]
print(fruit[1])

orange

In [ ]:
# Question 3
# 1 Mark
# Which of the following codes can be used to replace the first element of the list fruit with "strawberries"?
fruit = ["apple","orange","grapes","watermelon"]
fruit[0] = "strawberries"
print(fruit)

['strawberries', 'orange', 'grapes', 'watermelon']

In [ ]:
# Question 4
# 1 Mark
# Which of the following snippets can be used to iterate through the list and print its elements?
alphabet = ['a','b','c']
for i in alphabet:
 print(i)

a
b
c

In [ ]:
# Question 5
# 1 Mark
# Which of the following snippets can be used to print squares of all numbers present in the list = [1, 12, 24, 36, 11, 20,50]?
number = [1, 12, 24, 36, 11, 20,50]
for i in number:
 sq = i * i
 print(sq)

1
144
576
1296
121
400
2500

In [ ]:
# Question 6
# 1 Mark
# Which among the following code is used to get the number of elements present in a list ?
len(name_of_list)

In [ ]:
# Question 7
# 1 Mark
# Choose the appropriate code to remove the 'yellow' color from the list mentioned below:
color = ['white','red', 'blue', 'green','blue','yellow', 'black']
color.pop(5)
print(color)

['white', 'red', 'blue', 'green', 'blue', 'black']

In [ ]:
# Question 8
# 1 Mark
# Which of the following built-in methods can be used to check the length of the following list?
color = ['white','red', 'blue', 'green','blue','yellow', 'black']
len(color)

7

In [ ]:
# Question 9
# 1 Mark
# Choose the appropriate snippet to create and print a dictionary with the following information.
# brand = Audi

# Model = Q2

# Year = 1980
car = { "brand" : "Audi","model" : "Q2", "year" : 1980}
# car["year"] = 2019
print(car)

{'brand': 'Audi', 'model': 'Q2', 'year': 1980}

In [ ]:
# Question 10
# 1 Mark
# Which of the following codes can be used to change the year to 2019 in the below dictionary?
car["year"] = 2019

#Practice Quiz 1.3 - Conditional Statements

In [ ]:
# Question 1
# 1 Mark
# What will be the output of the following code?
a = 56
if a == 10:
 print("Hello")
else:
 print("Good Bye")

Good Bye

In [ ]:
# Question 2
# 1 Mark
# Choose the appropriate snippet to check whether a number is even or odd:
a = 2020
if a % 2 == 0:
 print("Number is Even")
else:
 print("Number is Odd")

Number is Even

In [ ]:
# Question 3
# 1 Mark
# What will be the output of the following code?
length = 5
breadth = 10
# find the area and perimeter of the rectangle
Area = length * breadth
Perimeter = 2 * (length + breadth)
# check whether the area of the rectangle is greater than the perimeter of the rectangle
if Area > Perimeter:
 print("Area of the rectangle is greater than the Perimeter of the rectangle")
else:
 print("Perimeter of the rectangle is greater than the Area of the rectangle")

Area of the rectangle is greater than the Perimeter of the rectangle

In [ ]:
# Question 4
# 1 Mark
# Which among the following code snippets can be used to calculate the average marks of a student in 5 subjects, and give grades according to the following rules:

# If average > 90, then Grade = A

# If average > 80, then Grade = B

# If average > 70, then Grade = C

# If average > 60, then Grade = D

# If average > 50, then Grade = E

m1 = 72
m2 = 85
m3 = 96
m4 = 42
m5 = 95
avg = (m1 + m2 + m3 + m4 + m5) / 5
print("Average=", avg)
if avg > 90:
 print("Grade A")
elif avg > 80:
 print("Grade B")
elif avg > 70:
 print("Grade C")
elif avg > 60:
 print("Grade D")
elif avg > 50:
 print("Grade E")
else:
 print("Fail")

Average= 78.0
Grade C

In [ ]:
# Question 5
# 1 Mark
# Which of the following code snippets can be used to complete the code, to check if a given triangle is equilateral(all sides are equal), isosceles(any two sides are equal), or scalene(no sides are equal):

x = 6
y = 6
z = 6
if x == y == z:
 # missing code 1
 print("Equilateral triangle")
elif x==y or y==z or z==x:
 # missing code 2
 print("isosceles triangle")
else:
 # missing code 3
 print("Scalene triangle")

Equilateral triangle

In [ ]:
# Question 6
# 1 Mark
# What will be the output of the following code?

a = "I am a Data Scientist"
if "Data" in a:
 print("It is present")
else:
 print(False)

It is present

In [ ]:
# Question 7
# 1 Mark
# What will be the output of the following Python code?
a = -99
if a > 0:
 print("Number is Positive)
else:
 print("Number is negative")
 #SyntaxError: EOL while scanning string literal

SyntaxError: unterminated string literal (detected at line 6) (<ipython-input-57-8cdcb72ef851>, line 6)

In [ ]:
# Question 8
# 1 Mark
# Suppose x = 20 and y = 30. Choose the appropriate snippet to check if x is less than y:
x = 20
y = 30
if x < y:
 print("X is less than Y")

X is less than Y

In [ ]:
# Question 9
# 1 Mark
# Which among the following code snippets can be used to divide the citizens of a country into three groups based on their age?

# The rules to divide the citizens into group 1, group 2, and group 3 are -

# Group 1: Age < 18, Minors who are not eligible to work
# Group 2: 18 <= Age <= 60, Eligible to work
# Group 3: Age > 60, Too old to work as per govt. regulations
# age = int(input('Enter your age: '))
# if age < 18:
#  print("Not Eligible for work")
# elif age >= 18 and age <= 60:
#  print("Eligible to work")
# else:
#  print("Too old to work as per the government rules")
age = int(input('Enter your age: '))
if age < 18:
 print("Not Eligible for work")
elif age <= 60:
 print("Eligible to work")
else:
 print("Too old to work as per the government rules")

Enter your age: 61
Too old to work as per the government rules

In [ ]:
# Question 10
# 1 Mark
# What will be the output of the following code?

first = 25
second = 34
third = 45
if first >= second and first >= third:
 print(first)
elif second >= first and second >= third:
 print(second)
elif third >= first and third >= second:
 print(third)
else:
 print("All of the values are equal")

45

#Practice Quiz 1.4 - Looping Statements

In [ ]:
# Question 1
# 1 Mark
# Which among the below snippets can be used to print all integers between -10 to -1 including both -10 and -1?
for i in range(-10, 0, 1):
 print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
# Question 2
# 1 Mark
# Which of the following snippets can be used to complete the code to print numbers from 1 to 10:

n = 10
i = 1
while i <= n:
 print(i)
 # missing code
 i = i + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Question 3
# 1 Mark
# Which of the following snippets can be used to complete the code to print the first ten even numbers:

for i in range(1, 21):
 # missing code
 if i % 2 == 0:
     print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Question 4
# 1 Mark
# What will be the output of the following Python code?

n = 8
for i in range(1, 11):
 print("{} ^ {} =".format(n, i), n**i)

8 ^ 1 = 8
8 ^ 2 = 64
8 ^ 3 = 512
8 ^ 4 = 4096
8 ^ 5 = 32768
8 ^ 6 = 262144
8 ^ 7 = 2097152
8 ^ 8 = 16777216
8 ^ 9 = 134217728
8 ^ 10 = 1073741824

In [ ]:
# Question 5
# 1.5 Marks
# Choose the appropriate snippet to print the messages with the following information.

# For numbers 1 to 100:

# If a number is divisible by 3, then print Fizz.

# If a number is divisible by 5, then print Buzz.

# If a number is divisible by 3 and 5 both, then print FizzBuzz.

# If a number is neither divisible by 3 or 5, just print the number.

for i in range(1, 101):
 if(i % 3 == 0 and i % 5 == 0):
     print("FizzBuzz")
 elif (i % 3 == 0):
     print("Fizz")
 elif(i % 5 == 0):
     print("Buzz")
 else:
     print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
# Question 6
# 1 Mark
# Which of the following snippets can be used to complete the code to find the sum of all numbers from 1 to 100:

sum = 0
for i in range(1, 101):
 # missing code
 sum = sum + i
print(sum)

5050

In [ ]:
# Question 7
# 1.5 Marks
# Choose the appropriate snippet to find all such numbers which are divisible by 7
# but are not a multiple of 5, between 202 and 320 (both included):

for i in range(202, 321):
    if i % 7 == 0 and i % 5 != 0:
        print(i)

203
217
224
231
238
252
259
266
273
287
294
301
308

In [ ]:
# Question 8
# 1 Mark
# What will be the output of the following Python code?

st = "Data Science"
count = 0
for i in st:
 if i == "a" or i == "e" or i == "i" or i == "o" or i == "u":
     count = count + 1
print(count)

5

In [ ]:
# Question 9
# 1 Mark
# What will be the output of the following Python code?

a = "Data Science"
for i in range(0, 5):
 print(a)

Data Science
Data Science
Data Science
Data Science
Data Science

#Practice Quiz 1.5 - Functions

In [ ]:
# Question 1
# 1 Mark
# What will be the output of the following code?

def mths(a, b):
 print(a + b)
 print(a - b)
 print(a * b)
 print(a // b)

mths(9, 5)

14
4
45
1.8

In [ ]:
# Question 2
# 1 Mark
# Which of the following user-defined functions prints the square of every number from 1 to 10 (including 1 and 10)?
def sq():
 for i in range(1, 11):
     print(i ** 2)
sq()

1
4
9
16
25
36
49
64
81
100

In [ ]:
# Question 3
# 1 Mark
# Which of the following code snippets can be used to complete the code for the
# user-defined function simple interest that returns the simple interest given ,
# principal amount (p), annual rate of interest (r), and the time period in years (t)?

# Hint: Simple Interest = (Principal Amount * Annual rate of interest * Time (in years)) / 100

def simple_interest(p, r, t):
 # missing code
 si = (p * r * t) / 100
 return si

simple_interest(10, 20, 30)

60.0

In [ ]:
# Question 4
# 1 Mark
# What does the below Python function do?

def chk(a):
 if a % 25 == 0:
     return True
 else:
     print("Not Divisible")

# chk(a) checks if the number a is divisible by 25

chk(2500)

True

In [ ]:
# Question 5
# 1 Mark
# What will be the output of the following Python code?

def num(x):
 y = x * x
 z = y + 5
 return z

print(num(5))

30

In [ ]:
# Question 6
# 1 Mark
# Choose the appropriate code snippet to define a lambda function that performs the following task:

# Takes an input, squares it, adds 5, then return the answer

function = lambda x: x * x + 5
function(x)

9

In [ ]:
# Question 7
# 1 Mark
# What will be the output of the following Python code?

def power(a, b):
 return a ** b
power(7,2)

49

In [ ]:
# Question 8
# 1 Mark
# What will be the output of the following function defined to calculate the area of the triangle?

def sq(base, height):
 return 0.5 * base * height
sq(5, 10)

25.0

In [ ]:
# Question 9
# 1 Mark
# What will be the output of the following code?

def greet(country):
 print("I am from", country)
greet("Sweden")

I am from Sweden

In [ ]:
# Question 10
# 1 Mark
# What will be the output of the following code?

def convert(celsius):
 fah = 1.8 * celsius + 32
 print("Temperature in Fahrenheit =", fah)
convert(20)

Temperature in Fahrenheit = 68.0